@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

.kitty-card {
  background-color: #F4F1E0;
  padding-bottom: 10px;
}
.has-text-orangeyred {
  color: #F14C38;
}
.has-text-blueydark {
  color: #144955;
}
.is-blueydark {
  background-color: #144955 !important;
  color: whitesmoke !important;
}

.is-winner {
  background-color: $success;
}

$rainbow_green : #8AE284;
$rainbow_red :  #FC7C7C;
$rainbow_blue : #B2CFF4;
$rainbow_yellow : #FDF2A8;
$rainbow_purple : #8F75F8;
$rainbow_grey : #EEF8F8;

$rainbow_colors : ("rainbow-green" : $rainbow_green, "rainbow-red" : $rainbow_red, "rainbow-blue" : $rainbow_blue, "rainbow-yellow" : $rainbow_yellow, "rainbow-purple" : $rainbow_purple, "rainbow-grey" : $rainbow_grey);

@each $label, $color in $rainbow_colors {
  .background-#{$label}  {
    background: $color;
    border: #0a0a0a 1px solid;
  }
}


.eyecolor-bg-babypuke{
  background-color:#eff1e0
}
.eyecolor-bg-bubblegum{
  background-color:#fadff4
}
.eyecolor-bg-chestnut{
  background-color:#efe1da
}
.eyecolor-bg-coralsunrise{
  background-color:#fde9e4
}
.eyecolor-bg-cyan{
  background-color:#c5eefa
}
.eyecolor-bg-doridnudibranch{
  background-color:#faeefa
}
.eyecolor-bg-eclipse{
  background-color:#e5e7ef
}
.eyecolor-bg-forgetmenot{
  background-color:#dcebfc
}
.eyecolor-bg-gold{
  background-color:#faf4cf
}
.eyecolor-bg-limegreen{
  background-color:#d9f5cb
}
.eyecolor-bg-mintgreen{
  background-color:#cdf5d4
}
.eyecolor-bg-parakeet{
  background-color:#e5f3e2
}
.eyecolor-bg-pumpkin{
  background-color:#fae1ca
}
.eyecolor-bg-sapphire{
  background-color:#d3e8ff
}
.eyecolor-bg-sizzurp{
  background-color:#dfdffa
}
.eyecolor-bg-strawberry{
  background-color:#ffe0e5
}
.eyecolor-bg-thundergrey{
  background-color:#eee9e8
}
.eyecolor-bg-topaz{
  background-color:#d1eeeb
}
.eyecolor-bg-twilightsparkle{
  background-color:#ede2f5
}
.eyecolor-shadow-babypuke{
  shadow-color:#cfd4b0
}
.eyecolor-shadow-bubblegum{
  shadow-color:#eebce3
}
.eyecolor-shadow-chestnut{
  shadow-color:#d4beb3
}
.eyecolor-shadow-coralsunrise{
  shadow-color:#e7c3bb
}
.eyecolor-shadow-cyan{
  shadow-color:#83cbe0
}
.eyecolor-shadow-doridnudibranch{
  shadow-color:#e1cce1
}
.eyecolor-shadow-eclipse{
  shadow-color:#cdd1e0
}
.eyecolor-shadow-forgetmenot{
  shadow-color:#a7caea
}
.eyecolor-shadow-gold{
  shadow-color:#e3daa1
}
.eyecolor-shadow-limegreen{
  shadow-color:#b4d9a2
}
.eyecolor-shadow-mintgreen{
  shadow-color:#9ad7a5
}
.eyecolor-shadow-parakeet{
  shadow-color:#bcd4b8
}
.eyecolor-shadow-pumpkin{
  shadow-color:#efc8a4
}
.eyecolor-shadow-sapphire{
  shadow-color:#a2c2eb
}
.eyecolor-shadow-sizzurp{
  shadow-color:#c1c1ea
}
.eyecolor-shadow-strawberry{
  shadow-color:#efbaba
}
.eyecolor-shadow-thundergrey{
  shadow-color:#dbccc7
}
.eyecolor-shadow-topaz{
  shadow-color:#a8d5d1
}
.eyecolor-shadow-twilightsparkle{
  shadow-color:#dcc7ec
}

.pb10 {
  padding-bottom: 10px;
}

.mg10 {
  margin-bottom: 10px;
}

.winner-border {
  border: $success 4px solid !important;
}

.loser-border {
  border: $danger 4px solid !important;
}