<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto Kitty Data</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animate.css">
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    {% include "_ga.html.twig" %}
</head>
<body>
<section class="hero is-danger is-bold is-small">
    <div class="hero-body">
        <div class="container">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/111.png" alt="Knight Kitty">
                    </figure>
                </div>
                <div class="media-content is-vcentered">
                    <p class="title is-2">Kitty Battles</p>
                    <p class="subtitle is-4">Enter The Fray</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="columns" id="app">
    <div class="column is-1">

    </div>
    <div class="column is-10">
        {% include "battlezone/partials/connection.html.twig" %}
        {% include "battlezone/partials/registration.html.twig" %}
        {% include "battlezone/partials/results.html.twig" %}
        {% include "battlezone/partials/battle.html.twig" %}
        {% include "battlezone/partials/queue.html.twig" %}
        {% include "battlezone/partials/dojo.html.twig" %}
        {% include "battlezone/partials/trophy.html.twig" %}
        {% include "battlezone/partials/tournaments.html.twig" %}
        {% include "battlezone/partials/season.html.twig" %}
        {% include "battlezone/partials/profile.html.twig" %}
    </div>
    <div class="column is-1">

    </div>

    {% include "battlezone/partials/loadingModal.html.twig" %}
</div>

{% include "_footer.html.twig" %}

<script type="application/javascript" src="/js/app.js"></script>
</body>
</html>



