<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto Kitty Data</title>
    <link rel="stylesheet" href="css/main.css">
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Kitty Battle Zone
            </h1>
            <h2 class="subtitle">
                Enter the Fray
            </h2>
        </div>
    </div>
</section>
<div class="columns" id="app">
    <div class="column is-3-desktop">

    </div>
    <div class="column is-6-desktop">
        <div class="notification is-danger" v-if="!service">
            There was a problem connecting to the Kitty Battle Zone Servers
        </div>

        <div v-if="!signedIn">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" type="text" placeholder="ETH Address" v-model="profile">
                </div>
                <div class="control">
                    <a class="button is-info" v-on:click="login()">
                        Login
                    </a>
                </div>
            </div>
        </div>

        <div class="container" v-if="turn">
            <a class="button" v-on:click="skill1" v-bind:class="{ disabled: !skill1 }">Skill 1</a>
            <a class="button" v-on:click="skill2" v-bind:class="{ disabled: !skill2 }">Skill 2</a>
            <a class="button" v-on:click="skill3" v-bind:class="{ disabled: !skill3 }">Skill 3</a>
        </div>

    </div>
    <div class="column">

    </div>
</div>

<script type="application/javascript">
var app = new Vue({
    el: '#app',
    data: {
        service : true,

        conn : null,
        profile : '',
        turn : false,
        signedIn : false,
        skill1 : true,
        skill2 : true,
        skill3 : true
    },
    methods: {
        skill1 : function () {
            this.conn.send(JSON.stringify({
                command : "TakeTurn",
                skill : 1
            }));
        },
        skill2 : function () {
            this.conn.send(JSON.stringify({
                command : "TakeTurn",
                skill : 2
            }));
        },
        skill3 : function () {
            this.conn.send(JSON.stringify({
                command : "TakeTurn",
                skill : 3
            }));
        },
        login : function () {
            this.conn.send(JSON.stringify({
                command : "IdentifyPlayer",
                address : this.profile,
                kittyId : 1
            }));

            this.signedIn = true;
        }
    },
    mounted : function () {
        try {
            this.conn = new WebSocket('ws://dna.kitty.fyi:8080/battle');

            this.conn.onmessage = function (ev) {
                app.turn = ev.turn;
            };

            this.conn.onopen = function (ev) {

            };
        } catch (err) {
            this.service = false;
        }

        this.$nextTick(function () {
            if (typeof web3 !== 'undefined') {
                this.profile = web3.eth.accounts[0];
            }
        });

    }
});
</script>
</body>
</html>



