<div class="card kitty-card">

    <div class="card-image" style="padding-left: 10px; padding-right: 10px;">
        <nav class="level is-marginless" style="padding-bottom: 5px;padding-top: 5px">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <span class="has-text-blueydark has-text-weight-bold">Kitty #<span><% opponentKitty.id %></span></span>
                </div>
            </div>
        </nav>
        <figure class="image" style="border: #0a0a0a solid 1px; background-color: white;">
            <img v-bind:src="opponentKitty.image" id="kittyImage">
        </figure>
    </div>
</div>