<div class="container" v-if="page == 'battle'">

    <section class="section">
        <div class="container">
            <h1 class="title">KITTY FIGHT!</h1>

            <div class="columns">
                <div class="column is-3">
                    {% include "battlezone/partials/battle/selectedKitty.html.twig" %}
                </div>
                <div class="column is-4">
                    <div class="columns">
                        <div class="column is-4">

                        </div>
                        <div class="column is-4">
                            <figure class="image is-128x128">
                                <img src="/img/Versus_sign.png">
                            </figure>
                        </div>
                        <div class="column is-4">

                        </div>
                    </div>

                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <tbody>
                        <tr v-for="item in battle_log">
                            <td v-html="item"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="column is-3">
                    {% include "battlezone/partials/battle/opponentKitty.html.twig" %}
                </div>
            </div>
        </div>
    </section>
</div>