<div class="notification is-info">
    <!-- Main container -->
    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <div class="level-item">
                We are deploying some experimental changes - Battling will be offline
            </div>
        </div>
    </nav>
</div>