<!-- Queue -->
<div class="container" v-if="page == 'dojo'">
    <section class="section">
        <div class="container">

            {% include "battlezone/partials/_nav.html.twig" %}

            <h1>DOJO Coming Soon</h1>

        </div>
    </section>
</div>