<!-- Kitty Display Card -->
<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img v-bind:src="selectedKitty.image">
        </figure>
    </div>
    <div class="card-content">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr class="is-primary">
                    <th colspan="4">
                        <span class="tag is-link is-medium">
                            Kitty #<span><% selectedKitty.id %></span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="2" class="has-text-weight-bold">Health</td>
                <td colspan="2"><% selectedKitty.health %></td>
            </tr>
            <tr>
                <td colspan="2" class="has-text-weight-bold">Attack</td>
                <td colspan="2"><% selectedKitty.attack %></td>
            </tr>
            <tr>
                <td colspan="2" class="has-text-weight-bold">Defense</td>
                <td colspan="2"><% selectedKitty.defense %></td>
            </tr>
            <tr>
                <td colspan="2" class="has-text-weight-bold">Heal</td>
                <td colspan="2"><% selectedKitty.heal %></td>
            </tr>
            <tr>
                <td colspan="3" class="has-text-weight-bold">Skill Name</td>

                <td class="has-text-weight-bold">Tier</td>
            </tr>
            <tr>
                <td colspan="3"><% selectedKitty.skill1 %></td>
                <td><span class="tag is-dark"><% selectedKitty.skill1tier %></span></td>

            </tr>

            <tr>
                <td colspan="3"><% selectedKitty.skill2 %></td>
                <td><span class="tag is-dark"><% selectedKitty.skill2tier %></span></td>
            </tr>

            <tr>
                <td colspan="3"><% selectedKitty.skill3 %></td>
                <td><span class="tag is-dark"><% selectedKitty.skill3tier %></span></td>
            </tr>

            <tr>
                <td class="has-text-weight-bold">W:</td>
                <td><% selectedKitty.wins %></td>
                <td class="has-text-weight-bold">L:</td>
                <td><% selectedKitty.losses %></td>
            </tr>

            </tbody>
        </table>



        <a class="button is-primary is-fullwidth" v-if="selectedKitty.id != 0" v-on:click="enterBattle()">
            <span>Enter The Fray</span>
        </a>
    </div>
</div>