<!-- Kitty Display Card -->
<div class="card kitty-card" v-if="selectedCat !== 0">

    <div class="card-image" style="padding-left: 10px; padding-right: 10px;">
        <nav class="level is-marginless" style="padding-bottom: 5px;padding-top: 5px">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <span class="has-text-blueydark has-text-weight-bold">Kitty #<span><% selectedKitty.id %></span></span>
                </div>
            </div>
        </nav>
        <figure class="image" style="border: #0a0a0a solid 1px; background-color: white;">
            <img v-bind:src="selectedKitty.image" id="kittyImage">
        </figure>
    </div>
    <div style="margin: 10px; border: #0a0a0a solid 1px;">
        <div class="box is-paddingless">
            <table class="table is-fullwidth is-small is-marginless">
                <tbody>
                <tr>
                    <td>
                        <span class="has-text-blueydark"><% selectedKitty.skill1.name %></span>
                    </td>
                    <td>
                        <div class="tags has-addons" v-for="(value, label) in selectedKitty.skill1.effects">
                            <span class="tag is-blueydark"><% label %></span>
                            <span class="tag is-info"><% value %></span>
                        </div>
                        <div class="tags has-addons">
                            <span class="tag is-blueydark">
                                <span class="icon">
                                    <i class="far fa-clock"></i>
                                </span>
                            </span>
                            <span class="tag is-warning">
                                <% selectedKitty.skill1.cooldown %>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="has-text-blueydark"><% selectedKitty.skill2.name %></span>
                    </td>
                    <td>
                        <div class="tags has-addons" v-for="(value, label) in selectedKitty.skill2.effects">
                            <span class="tag is-blueydark"><% label %></span>
                            <span class="tag is-info"><% value %></span>
                        </div>
                        <div class="tags has-addons">
                            <span class="tag is-blueydark">
                                <span class="icon">
                                    <i class="far fa-clock"></i>
                                </span>
                            </span>
                            <span class="tag is-warning">
                                <% selectedKitty.skill2.cooldown %>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="has-text-blueydark"><% selectedKitty.skill3.name %></span>
                    </td>
                    <td>
                        <div class="tags has-addons" v-for="(value, label) in selectedKitty.skill3.effects">
                            <span class="tag is-blueydark"><% label %></span>
                            <span class="tag is-info"><% value %></span>
                        </div>
                        <div class="tags has-addons">
                            <span class="tag is-blueydark">
                                <span class="icon">
                                    <i class="far fa-clock"></i>
                                </span>
                            </span>
                            <span class="tag is-warning">
                                <% selectedKitty.skill3.cooldown%>
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a class="button is-primary is-fullwidth" v-if="selectedKitty.id != 0" v-on:click="enterBattle()">
        <span>Enter The Fray</span>
    </a>
</div>