<div class="modal" v-bind:class="{ is-active: loadingRemoteAsset }">
    <div class="modal-background"></div>
    <div class="modal-content">
        Hey there Partner we're fetching something for ya
    </div>
</div>