<!-- Queue -->
<div class="" v-if="page == 'profile'">
    <section class="section">

        {% include "battlezone/partials/_nav.html.twig" %}

        <div class="box">
            <h1 class="is-size-3 has-text-weight-semibold">Recently Used Kitties</h1>
            <div class="columns is-marginless">
                <div class="column" v-for="item in profilePage.battles">
                    <figure class="image is-128x128 background-rainbow-grey">
                        <img :src="item.image">
                    </figure>
                </div>

            </div>
        </div>

        <div class="columns is-marginless">
            <div class="column is-6">
                <div class="box">
                    <h1 class="is-size-3 has-text-weight-semibold">Stats</h1>
                    <table class="table has-text-centered">
                        <tr>
                            <td>Overall Record</td>
                            <td><span><% profilePage.wins %></span> W | <span><% profilePage.losses %></span> L</td>
                        </tr>
                    </table>
                </div>
                <div class="box">
                    <h1 class="is-size-3 has-text-weight-semibold">Achievements</h1>
                    <table class="table has-text-centered">
                        <tr>
                            <td>None</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="column is-6">
                <div class="box">
                    <h1 class="is-size-3 has-text-weight-semibold">Battle Log</h1>
                    <table class="table">
                        <tr v-for="battle in profilePage.battles">
                            <td>
                                <div>
                                    <figure class="image is-128x128 background-rainbow-grey " v-bind:class="{ winner-border : battle.result == '1', loser-border : battle.result == '0' }">
                                        <img :src="battle.image">
                                    </figure>
                                    <span>Kitty #<span><% battle.kitty_id %></span></span>
                                </div>
                            </td>
                            <td>
                                <figure class="image is-128x128 ">
                                    <img src="/img/Versus_sign.png">
                                </figure>
                            </td>
                            <td>
                                <figure class="image is-128x128 background-rainbow-grey" v-bind:class="{ winner-border : battle.result == '0', loser-border : battle.result == '1' }">
                                    <img :src="battle.image2">
                                </figure>
                                <span>Kitty #<span><% battle.kitty2 %></span></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>