<!-- Queue -->
<div class="" v-if="page == 'profile'">
    <section class="section">

        {% include "battlezone/partials/_nav.html.twig" %}

        <div class="box">
            <h1 class="is-size-3 has-text-weight-semibold">Recently Used Kitties</h1>
            <div class="columns is-marginless">
                <div class="column" v-for="item in profilePage">
                    <figure class="image is-128x128 background-rainbow-grey">
                        <img :src="item.image">
                    </figure>
                </div>

            </div>
        </div>

        <div class="columns is-marginless">
            <div class="column is-6">
                <div class="box">
                    <h1 class="is-size-3 has-text-weight-semibold">Stats</h1>
                    <table class="table has-text-centered">
                        <tr>
                            <td>Overall Record</td>
                            <td>32 W | 16 L</td>
                        </tr>
                        <tr>
                            <td>Kitties used in Battle</td>
                            <td>32</td>
                        </tr>
                        <tr>
                            <td>Unique Players Battled</td>
                            <td>19</td>
                        </tr>
                    </table>
                </div>
                <div class="box">
                    <h1 class="is-size-3 has-text-weight-semibold">Achievements</h1>
                    <table class="table has-text-centered">
                        <tr>
                            <td>None</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="column is-6">
                <div class="box">
                    <h1 class="is-size-3 has-text-weight-semibold">Battle Log</h1>
                    <table class="table">
                        <tr>
                            <td>
                                <div class="">
                                    <figure class="image is-128x128 background-rainbow-purple winner-border">
                                        <img src="/img/yourkittyhere.png">
                                    </figure>
                                    <span>Kitty #?????</span>
                                </div>
                            </td>
                            <td>
                                <figure class="image is-128x128 ">
                                    <img src="/img/Versus_sign.png">
                                </figure>
                            </td>
                            <td>
                                <figure class="image is-128x128 background-rainbow-grey loser-border">
                                    <img src="/img/yourkittyhere.png">
                                </figure>
                                <span>Kitty #?????</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>