<!-- Queue -->
<div class="" v-if="page == 'profile'">
    <section class="section">

        {% include "battlezone/partials/_nav.html.twig" %}

        <div class="columns">
            <div class="column">
                <figure class="image is-128x128 background-rainbow-green">
                    <img src="/img/yourkittyhere.png">
                </figure>
            </div>
            <div class="column">
                <figure class="image is-128x128 background-rainbow-red">
                    <img src="/img/yourkittyhere.png">
                </figure>
            </div>
            <div class="column">
                <figure class="image is-128x128 background-rainbow-blue">
                    <img src="/img/yourkittyhere.png">
                </figure>
            </div>
            <div class="column">
                <figure class="image is-128x128 background-rainbow-purple">
                    <img src="/img/yourkittyhere.png">
                </figure>
            </div>
            <div class="column">
                <figure class="image is-128x128 background-rainbow-grey">
                    <img src="/img/yourkittyhere.png">
                </figure>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-6 is-vertical">
                <div class="tile">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Stats
                            </p>
                        </header>
                        <div class="card-content">
                            <table class="table has-text-centered">
                                <tr>
                                    <td>Overall Record</td>
                                    <td>32 W | 16 L</td>
                                </tr>
                                <tr>
                                    <td>Kitties used in Battle</td>
                                    <td>32</td>
                                </tr>
                                <tr>
                                    <td>Unique Players Battled</td>
                                    <td>19</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tile">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Achievements
                            </p>
                        </header>
                        <div class="card-content">

                        </div>
                    </div>
                </div>
            </div>
            <div class="tile">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Battle Log
                        </p>
                    </header>
                    <div class="card-content">
                        <table class="table">
                            <tr>
                                <td>
                                    <div class="">
                                        <figure class="image is-128x128 background-rainbow-purple">
                                            <img src="/img/yourkittyhere.png">
                                        </figure>
                                        <span>Kitty #?????</span>
                                    </div>
                                </td>
                                <td>
                                    <figure class="image is-128x128 ">
                                        <img src="/img/Versus_sign.png">
                                    </figure>
                                </td>
                                <td>
                                    <figure class="image is-128x128 background-rainbow-grey">
                                        <img src="/img/yourkittyhere.png">
                                    </figure>
                                    <span>Kitty #?????</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>