<!-- Queue -->
<div class="container" v-if="page == 'queue'">
    <section class="section">
        <div class="container">
            <h1 class="title">QUEUED FOR BATTLE</h1>

            <div class="columns">
                <div class="column is-4">
                    {% include "battlezone/partials/queue/selectedKitty.html.twig" %}
                </div>
                <div class="column is-2">
                    <figure class="image is-4by3">
                        <img src="/img/Versus_sign.png">
                    </figure>
                    <br />
                    <a class="button is-warning is-fullwidth" v-on:click="leaveQueue">
                        Leave Queue
                    </a>
                </div>
                <div class="column is-4">
                    {% include "battlezone/partials/queue/opponentKitty.html.twig" %}
                </div>
            </div>

        </div>
    </section>
</div>