<!-- Registration -->
<div class="container" v-if="page == 'registration'">

    <section class="section">
        <div class="container">
            <h1 class="title">Select Your Kitty</h1>

            <div class="columns">
                <div class="column is-3">
                    {% include "battlezone/partials/kittyDisplayCard.html.twig" %}
                </div>
                <div class="column is-7">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                        <tr>
                            <th>ID #</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(kitty, key)  in kitties">
                                <td><% kitty.id %></td>
                                <td>
                                    <a class="button is-success is-small" v-if="selectedCat !== kitty.id" v-on:click="selectKitty(key)">
                                        <span class="icon is-small">
                                          <i class="fas fa-quidditch"></i>
                                        </span>
                                        <span>Select</span>
                                    </a>

                                    <a class="button is-warning is-small" v-if="selectedCat === kitty.id" v-on:click="deselectKitty(key)">
                                        <span class="icon is-small">
                                          <i class="fas fa-quidditch"></i>
                                        </span>
                                        <span>Deselect</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

</div>