<!-- Queue -->
<div class="" v-if="page == 'trophy'">
    <section class="section">

        {% include "battlezone/partials/_nav.html.twig" %}

        <h1>Trophy Room Coming Soon</h1>

    </section>
</div>