<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto Kitty Data</title>
    <link rel="stylesheet" href="/css/main.css">
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
    {% include "_ga.html.twig" %}
</head>
<body>
{% include "nav.html.twig" %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8-desktop is-offset-2-desktop">
                    <h1 class="subtitle is-4">
                        We are working our dogs hard to get you data reports
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-fullhd" id="app">
        <h1 class="has-text-weight-bold is-size-1">Search DNA</h1>



    </div>
</section>
{% include "_footer.html.twig" %}

<script type="application/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            query : '',
            data : {{ data|raw }}
        },
        methods : {
            getUrl : function () {
                return 'http://dna.cryptokittydata.info/search?'+this.query;
            },
            appendRaw : function (thing, value) {
                this.query = this.query + '&'+thing+'='+value;
            }
        },
        delimiters : ['<%', '%>']
    })
</script>
</body>
</html>
