<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto Kitty Data</title>
    <link rel="stylesheet" href="/css/main.css">
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
    {% include "_ga.html.twig" %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
{% include "nav.html.twig" %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8-desktop is-offset-2-desktop">
                    <h1 class="subtitle is-4">
                        We are working our dogs hard to get you data reports
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-fullhd" id="app">
        <h1 class="has-text-weight-bold is-size-1">DNA Search</h1>

        <div class="field">
            <label class="label">Cattribute</label>
            <div class="control">
                <input class="input" id="cattribute" type="text" v-model="cattribute">
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" v-model="d0">
                D0
            </label>
            <label class="checkbox">
                <input type="checkbox" v-model="r1">
                R1
            </label>
            <label class="checkbox">
                <input type="checkbox" v-model="r2">
                R2
            </label>
            <label class="checkbox">
                <input type="checkbox" v-model="r3">
                R3
            </label>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <a class="button is-link" v-on:click="addParam">Add Search Parameter</a>
            </div>
        </div>


        <div class="field">
            <label class="label">Query</label>
            <div class="control">
                <input class="input" type="text" v-model="query">
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <a class="button is-link" v-bind:href="getUrl()" target="_blank">Search</a>
            </div>
        </div>

    </div>
</section>
{% include "_footer.html.twig" %}

<script type="application/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            query : '',
            data : {{ data|raw }},
            cattribute : '',
            d0 : true,
            r1 : false,
            r2 : false,
            r3 : false
        },
        methods : {
            getUrl : function () {
                return 'http://dna.cryptokittydata.info/search?'+this.query;
            },
            appendRaw : function (thing, value) {
                this.query = this.query + '&'+thing+'='+value;
            },
            addParam : function () {
                //need to find what category the cattribute belongs too
                for (category_name in this.data) {
                    if (category_name !== 'cattributes') {

                        for (cattribute in this.data[category_name]) {
                            console.log(cattribute);

                            if (cattribute === this.cattribute) {
                                console.log("found" + this.data[category_name][cattribute]);
                            }

                        }
                    }
                }

            }
        },
        delimiters : ['<%', '%>'],
        mounted : function () {
            $( "#cattribute" ).autocomplete({
                source: this.data.cattributes,
                select: function( event, ui ) {
                    app.cattribute = ui.item.value;
                }
            });
        }
    })
</script>
</body>
</html>
