<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>Please send kitty donations! Your support helps me build tools 0xCECDDbE88359f6EcEBE90b42643B002543F27fE9</p>
            <p>If you find a problem let me know on CK Discord @geggleto</p>
        </div>
    </div>
</footer>