<nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-item" href="http://cryptokittydata.info/">
        <a class="navbar-link" href="http://cryptokittydata.info">
            Home
        </a>
    </div>
    <div class="navbar-item">
        <a class="navbar-link" href="http://dna.cryptokittydata.info/profile">
            DNA Dashboard
        </a>
    </div>
</nav>