<nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-start">
        <a class="navbar-item" href="http://cryptokittydata.info">
            Home
        </a>

        <a class="navbar-item" href="http://dna.cryptokittydata.info/profile">
            DNA Dashboard
        </a>
    </div>
</nav>