<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto Kitty Data</title>
    <link rel="stylesheet" href="css/main.css">
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<div id="app">
    {% include "nav.html.twig" %}

    <div class="container" style="overflow-x: auto;">

        <div class="container">
            <div class="columns">
                <div class="column">
                    <a class="button is-link is-active" v-on:click="selectColumns('ducat')">DuCat</a>
                </div>
                <div class="column">
                    <a class="button is-link is-active" v-on:click="selectColumns('shipcat')">ShipCat</a>
                </div>
                <div class="column">
                    <a class="button is-link is-active" v-on:click="selectColumns('dracula')">Dracula</a>
                </div>
                <div class="column">
                    <a class="button is-link is-active" v-on:click="selectColumns('mistletoe')">Mistletoe</a>
                </div>
                <div class="column">
                    <a class="button is-link is-active" v-on:click="selectColumns('santaclaws')">SantaClaws</a>
                </div>
                <div class="column">
                    <a class="button is-link is-active" v-on:click="selectColumns('phuziqaat')">PhuZiqaat</a>
                </div>
                <div class="column">
                    <a class="button is-link is-active" v-on:click="selectColumns('stitches')">Stitches</a>
                </div>
                <div class="column">
                    <a class="button is-link is-active" v-on:click="selectColumns('negato')">Negato</a>
                </div>
                <div class="column">
                    <a class="button is-link is-active" v-on:click="selectColumns('momo-chan')">Momo-chan</a>
                </div>
                <div class="column">
                    <a class="button is-link is-active" v-on:click="selectColumns('earnie')">Earnie</a>
                </div>
                <div class="column">
                    <a class="button is-link is-active" v-on:click="selectColumns('misterpurrfect')">MisterPurrfect</a>
                </div>
                <div class="column">
                    <a class="button is-link is-active" v-on:click="selectColumns('yuricatsuki')">YuriCatsuki</a>
                </div>
            </div>
        </div>
        <br />
        <table class="table is-bordered is-striped is-narrow is-hoverable">
            <thead>
            <tr>
                <th colspan="2"><a v-on:click="enableColumns">Reset</a></th>
                <th colspan="4" class="fur is-centered"><a v-on:click="disableColumn('fur')">Fur</a></th>
                <th colspan="4" class="pattern is-centered"><a v-on:click="disableColumn('pattern')">Pattern</a></th>
                <th colspan="4" class="eyecolor is-centered"><a v-on:click="disableColumn('eyecolor')">Eye Color</a></th>
                <th colspan="4" class="eyeshape is-centered"><a v-on:click="disableColumn('eyeshape')">Eye Shape</a></th>
                <th colspan="4" class="basecolor is-centered"><a v-on:click="disableColumn('basecolor')">Base Color</a></th>
                <th colspan="4" class="highlightcolor is-centered"><a v-on:click="disableColumn('highlightcolor')">Highlight Color</a></th>
                <th colspan="4" class="accentcolor is-centered"><a v-on:click="disableColumn('accentcolor')">Accent Color</a></th>
                <th colspan="4" class="wild is-centered"><a v-on:click="disableColumn('wild')">Wild</a></th>
                <th colspan="4" class="mouth is-centered"><a v-on:click="disableColumn('mouth')">Mouth</a></th>
            </tr>
            <tr>
                <th>Kitty Id</th>
                <th>Gen</th>
                <th>Fancy</th>

                <th class="fur">D0</th>
                <th class="fur">R1</th>
                <th class="fur">R2</th>
                <th class="fur">R3</th>

                <th class="pattern">D0</th>
                <th class="pattern">R1</th>
                <th class="pattern">R2</th>
                <th class="pattern">R3</th>

                <th class="eyecolor">D0</th>
                <th class="eyecolor">R1</th>
                <th class="eyecolor">R2</th>
                <th class="eyecolor">R3</th>

                <th class="eyeshape">D0</th>
                <th class="eyeshape">R1</th>
                <th class="eyeshape">R2</th>
                <th class="eyeshape">R3</th>

                <th class="basecolor">D0</th>
                <th class="basecolor">R1</th>
                <th class="basecolor">R2</th>
                <th class="basecolor">R3</th>

                <th class="highlightcolor">D0</th>
                <th class="highlightcolor">R1</th>
                <th class="highlightcolor">R2</th>
                <th class="highlightcolor">R3</th>

                <th class="accentcolor">D0</th>
                <th class="accentcolor">R1</th>
                <th class="accentcolor">R2</th>
                <th class="accentcolor">R3</th>

                <th class="wild">D0</th>
                <th class="wild">R1</th>
                <th class="wild">R2</th>
                <th class="wild">R3</th>

                <th class="mouth">D0</th>
                <th class="mouth">R1</th>
                <th class="mouth">R2</th>
                <th class="mouth">R3</th>

            </tr>
            </thead>

            <tbody>

                <tr v-for="kitty, id in kitties">
                    <td><a v-bind:href="getKittyUrl(id)" target="_blank"><% id %></a></td>
                    <td><% kitty['gen'] %></td>
                    <td><% kitty['fancy'] %></td>

                    <td class="fur"><% kitty['body']['D0'] %></td>
                    <td class="fur"><% kitty['body']['R1'] %></td>
                    <td class="fur"><% kitty['body']['R2'] %></td>
                    <td class="fur"><% kitty['body']['R3'] %></td>

                    <td class="pattern"><% kitty['pattern']['D0'] %></td>
                    <td class="pattern"><% kitty['pattern']['R1'] %></td>
                    <td class="pattern"><% kitty['pattern']['R2'] %></td>
                    <td class="pattern"><% kitty['pattern']['R3'] %></td>

                    <td class="eyecolor"><% kitty['eyecolor']['D0'] %></td>
                    <td class="eyecolor"><% kitty['eyecolor']['R1'] %></td>
                    <td class="eyecolor"><% kitty['eyecolor']['R2'] %></td>
                    <td class="eyecolor"><% kitty['eyecolor']['R3'] %></td>

                    <td class="eyeshape"><% kitty['eyetype']['D0'] %></td>
                    <td class="eyeshape"><% kitty['eyetype']['R1'] %></td>
                    <td class="eyeshape"><% kitty['eyetype']['R2'] %></td>
                    <td class="eyeshape"><% kitty['eyetype']['R3'] %></td>

                    <td class="basecolor"><% kitty['bodycolor']['D0'] %></td>
                    <td class="basecolor"><% kitty['bodycolor']['R1'] %></td>
                    <td class="basecolor"><% kitty['bodycolor']['R2'] %></td>
                    <td class="basecolor"><% kitty['bodycolor']['R3'] %></td>

                    <td class="highlightcolor"><% kitty['patterncolor']['D0'] %></td>
                    <td class="highlightcolor"><% kitty['patterncolor']['R1'] %></td>
                    <td class="highlightcolor"><% kitty['patterncolor']['R2'] %></td>
                    <td class="highlightcolor"><% kitty['patterncolor']['R3'] %></td>

                    <td class="accentcolor"><% kitty['secondarycolor']['D0'] %></td>
                    <td class="accentcolor"><% kitty['secondarycolor']['R1'] %></td>
                    <td class="accentcolor"><% kitty['secondarycolor']['R2'] %></td>
                    <td class="accentcolor"><% kitty['secondarycolor']['R3'] %></td>

                    <td class="wild"><% kitty['wild']['D0'] %></td>
                    <td class="wild"><% kitty['wild']['R1'] %></td>
                    <td class="wild"><% kitty['wild']['R2'] %></td>
                    <td class="wild"><% kitty['wild']['R3'] %></td>

                    <td class="mouth"><% kitty['mouth']['D0'] %></td>
                    <td class="mouth"><% kitty['mouth']['R1'] %></td>
                    <td class="mouth"><% kitty['mouth']['R2'] %></td>
                    <td class="mouth"><% kitty['mouth']['R3'] %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal" v-bind:class="{ 'is-active': loading}">>
        <div class="modal-background is-white"></div>
        <div class="modal-content">
            <div class="container">
                <div class="notification">
                    <a class="button is-primary is-loading">Loading</a> Herding your cats, please be patient!
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="lib/main.js"></script>
<script type="application/javascript">

    Vue.prototype.$log = console.log.bind(console);

    var app = new Vue({
        el: '#app',
        data: {
            profile : "",
            kitties : {},
            length : 0,
            loading : false
        },
        methods : {
            getKittyUrl : function (id) {
                return 'https://www.cryptokitties.co/kitty/'+id;
            },
            disableColumn : function (type) {
                $('.'+type).toggle();
            },
            enableColumns : function () {
                $('.fur').show();
                $('.pattern').show();
                $('.eyecolor').show();
                $('.eyeshape').show();
                $('.basecolor').show();
                $('.highlightcolor').show();
                $('.accentcolor').show();
                $('.wild').show();
                $('.mouth').show();
            },
            disableColumns : function () {
                $('.fur').hide();
                $('.pattern').hide();
                $('.eyecolor').hide();
                $('.eyeshape').hide();
                $('.basecolor').hide();
                $('.highlightcolor').hide();
                $('.accentcolor').hide();
                $('.wild').hide();
                $('.mouth').hide();
            },
            selectColumns : function (fancyCatType) {
                this.disableColumns();

                if (fancyCatType === 'ducat') {
                    $('.fur').show();
                    $('.mouth').show();
                } else if (fancyCatType === 'shipcat') {
                    $('.fur').show();
                    $('.pattern').show();
                    $('.eyeshape').show();
                    $('.basecolor').show();
                } else if (fancyCatType === 'dracula') {
                    $('.fur').show();
                    $('.pattern').show();
                    $('.eyecolor').show();
                    $('.wild').show();
                } else if (fancyCatType === 'mistletoe') {
                    $('.eyeshape').show();
                    $('.basecolor').show();
                    $('.mouth').show();
                } else if (fancyCatType === 'santaclaws') {
                    $('.basecolor').show();
                    $('.highlightcolor').show();
                    $('.mouth').show();
                    $('.wild').show();
                } else if (fancyCatType === 'phuziqaat') {
                    $('.fur').show();
                    $('.pattern').show();
                    $('.eyeshape').show();
                    $('.mouth').show();
                } else if (fancyCatType === 'stitches') {
                    $('.basecolor').show();
                    $('.highlightcolor').show();
                    $('.accentcolor').show();
                    $('.mouth').show();
                } else if (fancyCatType === 'negato') {
                    $('.pattern').show();
                    $('.eyeshape').show();
                    $('.basecolor').show();
                    $('.highlightcolor').show();
                } else if (fancyCatType === 'momo-chan') {
                    $('.pattern').show();
                    $('.eyeshape').show();
                    $('.basecolor').show();
                    $('.highlightcolor').show();
                    $('.accentcolor').show();
                } else if (fancyCatType === 'earnie') {
                    $('.pattern').show();
                    $('.fur').show();
                    $('.basecolor').show();
                    $('.mouth').show();
                } else if (fancyCatType === 'misterpurrfect') {
                    $('.eyeshape').show();
                    $('.eyecolor').show();
                    $('.highlightcolor').show();
                    $('.mouth').show();
                } else if (fancyCatType === 'yuricatsuki') {
                    $('.fur').show();
                    $('.pattern').show();
                    $('.wild').show();
                    $('.mouth').show();
                }
            }
        },
        delimiters : ['<%', '%>'],
        mounted: function () {
            this.kitties = {{ kitties | raw }};
        }
    });
</script>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>Please send kitty donations! Your support helps me build tools 0xCECDDbE88359f6EcEBE90b42643B002543F27fE9</p>
        </div>
    </div>
</footer>
</body>
</html>
