<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto Kitty Data</title>
    <link rel="stylesheet" href="css/main.css">
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-item" href="http://cryptokittydata.info/">
        <a class="navbar-link" href="http://cryptokittydata.info">
            Home
        </a>
    </div>
    <div class="navbar-item">
        <a class="navbar-link" href="http://dna.cryptokittydata.info/">
            Dna Profiles
        </a>
    </div>
</nav>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8-desktop is-offset-2-desktop">
                    <h1 class="subtitle is-4">
                        We are working our dogs hard to get you data reports
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-fullhd" id="app">
        <h1 class="has-text-weight-bold is-size-1">Search DNA</h1>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Categories</label>
                    <div class="control">
                        <select v-model="category">
                            <option v-for="codes,category_name in categories" :value="category_name">
                                <% category_name %>
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <label class="label">Fancy Table</label>
                            </div>
                        </div>

                        <div class="level-right">
                            <div class="level-item">
                                <a class="button is-link" v-on:click="toggle">Toggle</a>
                            </div>
                        </div>
                    </nav>

                    <table class="table" v-if="showFancy">
                        <thead>
                        <tr>
                            <th>Fancy</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tr>
                            <td><a href="https://www.cryptokitties.co/marketplace/sale?search=fancy%3Aducat" target="_blank">Ducat</a></td>
                            <td><a class="button is-link is-small" v-on:click="appendCatAndGene('body','a')">cymric</a></td>
                            <td><a class="button is-link is-small" v-on:click="appendCatAndGene('mouth','p')">tongue</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.cryptokitties.co/marketplace/sale?search=fancy%3Ashipcat" target="_blank">ShipCat</a></td>
                            <td>sphynx</td>
                            <td>luckystripe</td>
                            <td>crazy</td>
                            <td>orangesoda</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.cryptokitties.co/marketplace/sale?search=fancy%3Adracula" target="_blank">Dracula</a></td>
                            <td>laperm</td>
                            <td>spock</td>
                            <td>strawberry</td>
                            <td>wild_1</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.cryptokitties.co/marketplace/sale?search=fancy%3Amistletoe" target="_blank">Misletoe</a></td>
                            <td>oldlace</td>
                            <td>gerbil</td>
                            <td>crazy</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.cryptokitties.co/marketplace/sale?search=fancy%3Asantaclaws" target="_blank">SantaClaws</a></td>
                            <td>cloudwhite</td>
                            <td>scarlet</td>
                            <td>beard</td>
                            <td>wild_d</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.cryptokitties.co/marketplace/sale?search=fancy%3Aphuziqaat" target="_blank">PhuZiqaat</a></td>
                            <td>chartreux</td>
                            <td>spock</td>
                            <td>alien</td>
                            <td>pouty</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.cryptokitties.co/marketplace/sale?search=fancy%3Astitches" target="_blank">Stitches</a></td>
                            <td>hintomint</td>
                            <td>swampgreen</td>
                            <td>seafoam</td>
                            <td>saycheese</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.cryptokitties.co/marketplace/sale?search=fancy%3Anegato" target="_blank">Negato</a></td>
                            <td>onyx</td>
                            <td>henna</td>
                            <td>wolfgrey</td>
                            <td>slyboots</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.cryptokitties.co/marketplace/sale?search=fancy%3Amomo-chan" target="_blank">Momo-chan</a></td>
                            <td>onyx</td>
                            <td>henna</td>
                            <td>sass</td>
                            <td>bloodred</td>
                            <td>wolfgrey</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.cryptokitties.co/marketplace/sale?search=fancy%3Aearnie" target="_blank">Earnie</a></td>
                            <td>orangesoda</td>
                            <td>birman</td>
                            <td>grim</td>
                            <td>hotrod</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.cryptokitties.co/marketplace/sale?search=fancy%3Amisterpurrfect" target="_blank">MisterPurrfect</a></td>
                            <td>strawberry</td>
                            <td>chocolate</td>
                            <td>wuvme</td>
                            <td>baddate</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.cryptokitties.co/marketplace/sale?search=fancy%3Ayuricatsuki" target="_blank">YuriCatsuki</a></td>
                            <td>elk</td>
                            <td>tiger</td>
                            <td>cymric</td>
                            <td>neckbeard</td>
                            <td></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <div class="field">
            <label class="label">Traits</label>
            <div class="control">
                <div class="columns is-multiline is-mobile">
                    <div class="column" v-for="label, code in getCodes()">
                        <a class="button is-black is-medium" v-on:click="appendQuery(code)" ><% code %> - <% label %></a>
                    </div>
                </div>
            </div>
        </div>


        </nav>

        <div class="field">
            <label class="label">Query</label>
            <div class="control">
                <input class="input" type="text" placeholder="Ethereum Address" v-model="query">
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <a class="button is-link" v-bind:href="getUrl()" target="_blank">Search</a>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>Please send kitty donations! Your support helps me build tools 0xCECDDbE88359f6EcEBE90b42643B002543F27fE9</p>
        </div>
    </div>
</footer>

<script type="application/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            categories : {{ categories|raw }},
            query : 'onsale=true',
            category : 'mouth',
            codes : [],
            showFancy : false,
        },
        methods : {
            getUrl : function () {
                return 'http://dna.cryptokittydata.info/search?'+this.query;
            },
            getCodes : function () {
                return this.categories[this.category];
            },
            appendQuery : function (d0) {
                this.query = this.query + '&'+this.category+'=___'+d0;
            },
            appendCatAndGene : function (category, d0) {
                this.query = this.query + '&'+category+'=___'+d0;
            },
            toggle : function () {
                this.showFancy = !this.showFancy;
            }
        },
        delimiters : ['<%', '%>']
    })
</script>
</body>
</html>
