<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img v-bind:src="opponentKitty.image">
        </figure>

        <progress class="progress is-success" v-if="opponentKitty.health >= 60" v-bind:value="opponentKitty.health" v-bind:max="opponentKitty.maxhealth">60%</progress>
        <progress class="progress is-warning" v-if="opponentKitty.health >= 30 && opponentKitty.health < 60" v-bind:value="opponentKitty.health" v-bind:max="opponentKitty.maxhealth">75%</progress>
        <progress class="progress is-danger" v-if="opponentKitty.health < 30" v-bind:value="opponentKitty.health" v-bind:max="opponentKitty.maxhealth">90%</progress>

    </div>
    <div class="card-content">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr class="is-primary">
                    <th colspan="4">
                        <a class="button is-primary is-medium is-fullwidth">
                            Kitty #<span><% opponentKitty.id %></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="2" class="has-text-weight-bold">Attack</td>
                <td colspan="2"><% opponentKitty.attack %></td>
            </tr>
            <tr>
                <td colspan="2" class="has-text-weight-bold">Defense</td>
                <td colspan="2"><% opponentKitty.defense %></td>
            </tr>
            <tr>
                <td colspan="2" class="has-text-weight-bold">Heal</td>
                <td colspan="2"><% opponentKitty.heal %></td>
            </tr>
            <tr>
                <td colspan="3" class="has-text-weight-bold">Skill Name</td>

                <td class="has-text-weight-bold">Tier</td>
            </tr>
            <tr>
                <td colspan="3"><% opponentKitty.skill1.name %></td>
                <td><span class="tag is-light"><% opponentKitty.skill1.tier %></span></td>
            </tr>

            <tr>
                <td colspan="3"><% opponentKitty.skill2.name %></td>
                <td><span class="tag is-light"><% opponentKitty.skill2.tier %></span></td>
            </tr>

            <tr>
                <td colspan="3"><% opponentKitty.skill3.name %></td>
                <td><span class="tag is-light"><% opponentKitty.skill3.tier %></span></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>