<div class="card kitty-card">

    <div class="card-image" style="padding-left: 10px; padding-right: 10px;">
        <nav class="level is-marginless" style="padding-bottom: 5px;padding-top: 5px">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                    <span class="icon has-text-orangeyred">
                        <i class="ion-android-star"></i>
                    </span>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <span class="has-text-blueydark has-text-weight-bold">Kitty #<span><% opponentKitty.id %></span></span>
                </div>
            </div>
        </nav>
        <figure class="image" style="border: #0a0a0a solid 1px; background-color: white;">
            <img v-bind:src="opponentKitty.image" id="kittyImage">
        </figure>

        <progress class="progress is-radiusless" v-bind:class="getOpponentKittyHealthBar"  :value="opponentKitty.health" :max="opponentKitty.maxhealth"></progress>

    </div>
    <div style="margin: 10px; border: #0a0a0a solid 1px;">
        <div class="box">
            <div class="columns is-multiline">
                <div class="column is-4">
                    <span class="has-text-blueydark"><% opponentKitty.skill1.name %></span>
                </div>
                <div class="column is-4">
                    <div class="tags has-addons" v-for="(value, label) in opponentKitty.skill1.effects">
                        <span class="tag is-blueydark"><% label %></span>
                        <span class="tag is-info"><% value %></span>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="tags has-addons">
                            <span class="tag is-blueydark">
                                <span class="icon">
                                    <i class="far fa-clock"></i>
                                </span>
                            </span>
                        <span class="tag is-warning">
                                <% opponentKitty.skill1.cooldown %>
                            </span>
                    </div>
                </div>


                <div class="column is-4">
                    <span class="has-text-blueydark"><% opponentKitty.skill2.name %></span>
                </div>
                <div class="column is-4">
                    <div class="tags has-addons" v-for="(value, label) in opponentKitty.skill2.effects">
                        <span class="tag is-blueydark"><% label %></span>
                        <span class="tag is-info"><% value %></span>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="tags has-addons">
                            <span class="tag is-blueydark">
                                <span class="icon">
                                    <i class="far fa-clock"></i>
                                </span>
                            </span>
                        <span class="tag is-warning">
                                <% opponentKitty.skill2.cooldown %>
                            </span>
                    </div>
                </div>


                <div class="column is-4">
                    <span class="has-text-blueydark"><% opponentKitty.skill3.name %></span>
                </div>
                <div class="column is-4">
                    <div class="tags has-addons" v-for="(value, label) in opponentKitty.skill3.effects">
                        <span class="tag is-blueydark"><% label %></span>
                        <span class="tag is-info"><% value %></span>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="tags has-addons">
                            <span class="tag is-blueydark">
                                <span class="icon">
                                    <i class="far fa-clock"></i>
                                </span>
                            </span>
                        <span class="tag is-warning">
                                <% opponentKitty.skill3.cooldown %>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>