<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img v-bind:src="selectedKitty.image">
        </figure>
    </div>
    <div class="card-content">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr class="is-primary">
                    <th colspan="4">
                        <span class="tag is-link is-medium">
                            Kitty #<span><% selectedKitty.id %></span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="2" class="has-text-weight-bold">Health</td>
                <td colspan="2"><% selectedKitty.health %> / <% selectedKitty.maxhealth %></td>
            </tr>
            <tr>
                <td colspan="2" class="has-text-weight-bold">Attack</td>
                <td colspan="2"><% selectedKitty.attack %></td>
            </tr>
            <tr>
                <td colspan="2" class="has-text-weight-bold">Defense</td>
                <td colspan="2"><% selectedKitty.defense %></td>
            </tr>
            <tr>
                <td colspan="2" class="has-text-weight-bold">Heal</td>
                <td colspan="2"><% selectedKitty.heal %></td>
            </tr>
            <tr>
                <td colspan="3" class="has-text-weight-bold">Skill Name</td>

                <td class="has-text-weight-bold">Tier</td>
            </tr>
            <tr>
                <td colspan="3"><a class="button is-small  is-link" :disabled="turn ? turn : null"><% selectedKitty.skill1 %></a></td>
                <td><span class="tag is-light"><% selectedKitty.skill1tier %></span></td>
            </tr>

            <tr>
                <td colspan="3"><a class="button is-small  is-link" :disabled="turn ? turn : null"><% selectedKitty.skill2 %></a></td>
                <td><span class="tag is-light"><% selectedKitty.skill2tier %></span></td>
            </tr>

            <tr>
                <td colspan="3"><a class="button is-small  is-link" :disabled="turn ? turn : null"><% selectedKitty.skill3 %></a></td>
                <td><span class="tag is-light"><% selectedKitty.skill3tier %></span></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>